<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <base href=".">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

</head>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- todo: set up routing to do this-->
  <preferences *ngIf="!IsInitialized()"></preferences>

  <savings-list></savings-list>
  <div class="single-slider owl-carousel owl-has-dots-over bg-black">
    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom fa-2x">Meet Appeca</h1>
        <p class="center-text color-white opacity-70 no-bottom">The result of our over 10 years of experience as the only Elite Author on the Mobile Niche.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-80"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/10lq.jpg" data-src="assets/images/pictures/10.jpg">
    </div>
    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom">Creative & Unique</h1>
        <p class="center-text color-white opacity-80 no-bottom">Infuse your style, create your own elements, bring your ideas to life with Appeca.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-70"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/9lq.jpg" data-src-retina="assets/images/pictures/9.jpg">
    </div>			
    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom">Smart & Flexible</h1>
        <p class="center-text color-white opacity-60 no-bottom">Appeca is built for flexibility, every feature is ultra customizable and easy to edit.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-80"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/3lq.jpg" data-src-retina="assets/images/pictures/3.jpg">
    </div>

    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom">Built for You</h1>
        <p class="center-text color-white opacity-80 no-bottom">For over 10 years we've been building products for you, we <i class="fa fa-heart color-orange-dark font-12"></i> our customers.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-60"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/6lq.jpg" data-src-retina="assets/images/pictures/6.jpg">
    </div>			
  </div>		
  
  <div class="homepage-cta full-top full-bottom">
    <div class="homepage-cta-button">
      <div class="button-center-large"><a href="#" class="button button-full button-blue button-sm button-rounded uppercase ultrabold">Add Saving</a></div>
      <p class="center-text no-bottom opacity-50 font-10">There are multiple Call To Action Styles. Swipe me Left</p>
    </div>
  </div>

  <div class="decoration decoration-margins"></div>
  
  <div class="footer footer-dark">
  </div>

