<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="single-slider owl-carousel owl-has-dots-over bg-black">
    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom fa-2x">Meet Appeca</h1>
        <p class="center-text color-white opacity-70 no-bottom">The result of our over 10 years of experience as the only Elite Author on the Mobile Niche.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-80"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/10lq.jpg" data-src="assets/images/pictures/10.jpg">
    </div>
    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom">Creative & Unique</h1>
        <p class="center-text color-white opacity-80 no-bottom">Infuse your style, create your own elements, bring your ideas to life with Appeca.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-70"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/9lq.jpg" data-src-retina="assets/images/pictures/9.jpg">
    </div>			
    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom">Smart & Flexible</h1>
        <p class="center-text color-white opacity-60 no-bottom">Appeca is built for flexibility, every feature is ultra customizable and easy to edit.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-80"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/3lq.jpg" data-src-retina="assets/images/pictures/3.jpg">
    </div>

    <div>
      <div class="cover-content cover-content-center">
        <h1 class="center-text color-white small-bottom">Built for You</h1>
        <p class="center-text color-white opacity-80 no-bottom">For over 10 years we've been building products for you, we <i class="fa fa-heart color-orange-dark font-12"></i> our customers.</p>
      </div>
      <div class="cover-overlay overlay bg-black opacity-60"></div>
      <img width="700" class="owl-lazy" src="assets/images/empty.png" data-src="assets/images/pictures/6lq.jpg" data-src-retina="assets/images/pictures/6.jpg">
    </div>			
  </div>		
  
  <div class="homepage-cta full-top full-bottom">
    <h1 class="half-top center-text no-bottom font-21">Welcome</h1>
    <h2 class="center-text opacity-40">To The Most Powerful Mobile Website</h2>
    <p class="boxed-text half-bottom">
      Our 10 years of experience put in Appeca to obtain the absolute
      best, fast loading, powerful Mobile Solution.
    </p>
    <div class="single-slider-no-timeout owl-carousel owl-auto-height smal-top">
      <div>
        <div class="homepage-cta-button">
          <div class="button-center-large"><a href="#" class="button button-full button-blue button-sm button-rounded uppercase ultrabold">Purchase Appeca</a></div>
          <p class="center-text no-bottom opacity-50 font-10">There are multiple Call To Action Styles. Swipe me Left</p>
        </div>
      </div>
      <div>
        <div class="homepage-cta-socials">
          <a href="#" class="icon icon-xs no-border facebook-bg icon-round"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="icon icon-xs no-border google-bg icon-round"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="icon icon-xs no-border twitter-bg icon-round"><i class="fab fa-twitter"></i></a>
        </div>
        <p class="center-text no-bottom opacity-50 font-10">There are multiple Call To Action Styles. Swipe me Left</p>
      </div>
      <div>
        <div class="homepage-cta-or">
          <a href="index-walkthrough.html" class="button button-blue button-rounded button-sm ultrabold uppercase button-center">Get Started</a>
          <span class="opacity-50 no-bottom">or</span>
          <a href="index-walkthrough.html" class="button button-green button-rounded button-sm ultrabold uppercase button-center">Take a tour</a>
          <div class="clear"></div>
          <p class="center-text no-bottom opacity-50 font-10">There are multiple Call To Action Styles. Swipe me Left</p>
        </div>
      </div>
    </div>
  </div>


  <div class="content-strip">
    <div class="container">
      <h2 class="bold uppercase color-white center-text">25,000 Happy Customers</h2>
      <p class="small-text color-white opacity-50 center-text half-bottom">Become a happy customer today!</p>
      <p class="boxed-text no-bottom color-white opacity-80">
        Over 25,000 customers can vouch for our quality items, and fast support. We made it here because of you, and we'll always respect you.
      </p>
      <a href="#" class="button button-ghost border-gray-light button-rounded button-center full-top button-s uppercase bold">Purchase Today</a>
    </div>
    <div class="overlay bg-black opacity-70"></div>
    <div class="content-strip-bg preload-image" data-src="assets/images/pictures/1.jpg"></div>
  </div>

  <div class="decoration decoration-margins"></div>	
  <div class="content">
    <div class="icon-column">
      <i class="fa fa-code color-blue-dark"></i>
      <h1 class="uppercase ultrabold">ELite Code</h1>
      <p>
        We've been building mobile websites since the dawn of handhelds!
        Our experience is made for you.
      </p>
    </div>
    <div class="icon-column">
      <i class="fa fa-star color-yellow-dark"></i>
      <h1 class="uppercase ultrabold">24/7 Support</h1>
      <p>
        Easy to understand documentations and a forum dedicated for all your needs.
        Always here for you.
      </p>
    </div>				
    <div class="icon-column">
      <i class="fa fa-heart color-red-dark"></i>
      <h1 class="uppercase ultrabold">Built for you</h1>
      <p>
        The best mobile author on the market, and we got here
        by loving our customers, giving only the best.
      </p>
    </div>	
    <div class="icon-column">
      <i class="fa fa-money-bill color-green-dark"></i>
      <h1 class="uppercase ultrabold">Save time & money</h1>
      <p>
        Although our competitors use the same price as us, they offer you less than half of the quality and features we do. 
      </p>
    </div>
  </div>
  <div class="decoration decoration-margins"></div>
  
  <div class="content-strip">
    <div class="container">
      <h2 class="ultrabold uppercase color-white center-text">Packed with Goodies</h2>
      <p class="small-text color-gray-light center-text full-bottom">Everything you need to go mobile today!</p>
    </div>
    <div class="decoration deco-3 opacity-60 decoration-margins"></div>
    <div class="double-slider owl-carousel owl-no-dots">
      <div>
        <p class="center-text color-white half-bottom"><i class="fa fa-code fa-2x"></i></p>
        <h5 class="center-text uppercase ultrabold color-white">Flexible Code</h5>
        <p class="center-text small-text">
          Code made so you can edit it however you want.
        </p>
      </div>		
      <div>
        <p class="center-text color-white half-bottom"><i class="fa fa-info fa-2x"></i></p>
        <h5 class="center-text uppercase ultrabold color-white">Product Guide</h5>
        <p class="center-text small-text">
          A detailed documentation that covers all features.
        </p>
      </div>					
      <div>
        <p class="center-text color-white half-bottom"><i class="fa fa-cog fa-2x"></i></p>
        <h5 class="center-text uppercase ultrabold color-white">Lifetime Updates</h5>
        <p class="center-text small-text">
          After you purchase Appeca, updates are free for life.
        </p>
      </div>			
      <div>
        <p class="center-text color-white half-bottom"><i class="fa fa-life-ring fa-2x"></i></p>
        <h5 class="center-text uppercase ultrabold color-white">Support Forum</h5>
        <p class="center-text small-text">
          On our forum we'll answer any question you may have.
        </p>
      </div>					

    </div>
    <div class="decoration deco-3 opacity-60 decoration-margins half-bottom"></div>
    <p class="center-text small-text color-white container no-bottom opacity-50 italic">Offer applies to all our customers.</p>
    <div class="overlay overlay-dark"></div>
    <div class="content-strip-bg preload-image" data-src="assets/images/pictures/1s.jpg"></div>
  </div>
  <div class="decoration decoration-margins"></div>
  
  <div class="content half-bottom">
    <h2 class="ultrabold uppercase center-text">Featured Product</h2>
    <p class="small-text center-text half-bottom">Featured across the Envato Marketplaces</p>
    <div class="gallery full-bottom">
      <a href="assets/images/products/4.png" class="show-gallery polaroid-effect polaroid-effect-small half-bottom" title="Galleries have Captions.">
        <img data-src="assets/images/products/4.png" src="assets/images/empty.png" class="preload-image responsive-image no-bottom"  alt="Image Unavailable">
      </a>
      <a href="assets/images/products/1.png" class="show-gallery" title="And they are just a Title Tag.">
        <img class="polaroid-effect polaroid-effect-small preload-image responsive-image no-bottom one-third" data-src="assets/images/products/1.png" src="assets/images/empty.png" alt="img">
      </a>
      <a href="assets/images/products/2.png" class="show-gallery" title="Simple and Easy to Use.">
        <img class="polaroid-effect polaroid-effect-small preload-image responsive-image no-bottom one-third" data-src="assets/images/products/2.png" src="assets/images/empty.png" alt="img">
      </a>
      <a href="assets/images/products/3.png" class="show-gallery" title="Stunning on Your Mobile.">
        <img class="polaroid-effect polaroid-effect-small preload-image responsive-image no-bottom one-third last-column" data-src="assets/images/products/3.png" src="assets/images/empty.png" alt="img">
      </a>
      <div class="clear"></div>
    </div>
    <p class="boxed-text-large full-bottom">
      Numerous products from our portfolio have been featured on the Envato Marketplaces and we're always proud to show them off!
    </p>
    <a href="#" class="button button-rounded button-center-large button-s button-blue uppercase ultrabold full-bottom">Purchase Today</a>
  </div>
  
  <div class="decoration decoration-margins"></div>
  
  <div class="content-strip">
    <div class="single-slider owl-carousel owl-auto-height owl-no-dots">
      <div class="container">
        <h3 class="ultrathin italic large-line-height color-white opacity-80 center-text">
          The code is always great with any Enabled template,
          but its the customer support that wins me over all 
          the time. So responsive and helpful!
        </h3>
        <div class="center-stars half-top">
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
        </div>
        <a href="#" class="small-text color-blue2-light center-text half-top normal-text">Eminat - ThemeForest Buyer</a>
      </div>					
      <div class="container">
        <h3 class="ultrathin italic large-line-height color-white opacity-80 center-text">
          Awesome customer service, sent a request and was answered promptly. Great product,
          well worth purchasing for mobile templates.
        </h3>
        <div class="center-stars half-top">
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
        </div>
        <a href="#" class="small-text color-blue2-light center-text half-top normal-text">Globo Logic - ThemeForest Buyer</a>
      </div>			
      <div class="container">
        <h3 class="ultrathin italic large-line-height color-white opacity-80 center-text">
          Wonderful support and design! Had some questions and got fast support and answers. 
          Highly recommend Enabled products.
        </h3>
        <div class="center-stars half-top">
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
          <i class="fa fa-star color-yellow-dark"></i>
        </div>
        <a href="#" class="small-text color-blue2-light center-text half-top normal-text">Bit Mash - ThemeForest Buyer</a>
      </div>
    </div>
    <div class="overlay overlay-dark"></div>
    <div class="content-strip-bg preload-image" data-src="assets/images/pictures/1s.jpg"></div>
  </div>
  <div class="decoration decoration-margins"></div>
  
  <div class="content">
    <h1 class="uppercase ultrabold center-text">Much More to see</h1>
    <p class="small-text center-text color-blue-dark half-bottom">There are tones of awesome features waiting</p>
    <p class="boxed-text full-bottom">
      There are hundreds of features waiting to be discovered, and they are just a tap away!
    </p>
    <a href="#" data-deploy-menu="menu-1" class="button button-blue button-rounded button-center-large uppercase ultrabold">Show me More</a>
  </div>
  
  <div class="decoration decoration-margins"></div>
  
  <div class="footer footer-dark">
    <a href="#" class="footer-logo"></a>
    <p>Simplicity and power packed into a beautiful, feature filled, fast, mobile template.</p>
    <div class="footer-socials">
      <a href="#" class="scale-hover icon icon-round no-border icon-xs facebook-bg border-teal-3d"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="scale-hover icon icon-round no-border icon-xs twitter-bg"><i class="fab fa-twitter"></i></a>
      <a href="#" class="scale-hover icon icon-round no-border icon-xs google-bg"><i class="fab fa-google-plus-g"></i></a>
      <a href="#" class="scale-hover icon icon-round no-border icon-xs phone-bg"><i class="fa fa-phone"></i></a>
      <a href="#" data-deploy-menu="menu-share" class="scale-hover icon icon-round no-border icon-xs bg-teal-dark"><i class="fa fa-retweet font-15"></i></a>
      <a href="#" class="scale-hover icon icon-round no-border icon-xs back-to-top bg-blue-dark"><i class="fa fa-angle-up font-16"></i></a>
    </div>
    <p class="copyright-text">Copyright &copy; Enabled <span id="copyright-year">2017</span>. All Rights Reserved.</p>
  </div>

