<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <base href="/">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
  <link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />

</head>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="preloader" class="preloader-light">
    <h1></h1>
    <div id="preload-spinner"></div>
  </div>
    
  <div id="page-transitions">
    <div id="header" class="header-logo-left header-dark">
      <a href="#" class="header-logo"></a>
      <a href="#" class="header-icon header-icon-1 hamburger-animated" data-deploy-menu="menu-1"></a>
    </div>
  
    <div id="menu-1" class="menu-wrapper menu-light menu-sidebar-left menu-large">
      <div class="menu-scroll">
        <div class="menu">
          <em class="menu-divider">Navigation<i class="fa fa-bars"></i></em>
          <a class="menu-item close-menu" href="#" (click)="navigate('preferences')"><i class="font-15 fa color-blue-dark fa-cog"></i><strong>Preferences</strong></a>
          <a class="menu-item close-menu" href="#"><i class="font-14 fa color-orange-dark fa-times"></i><strong>Close</strong></a>
        </div>
      </div>
    </div>
    
    <div id="page-content" class="page-content">	
      <div id="page-content-scroll"><!--Enables this element to be scrolled --> 			
        <router-outlet></router-outlet>
      </div>  
    </div>		
    <a href="#" class="back-to-top-badge back-to-top-small"><i class="fa fa-angle-up"></i>Back to Top</a>
  </div>
  
  
  <div class="footer footer-dark">
</div>

