<div class="contact-form no-bottom input-form">
    <h1 class="uppercase ultrabold center-text">Preferences</h1>
    <p class="small-text center-text color-blue-dark half-bottom">Enter your savings goal information</p>
    <form action="#" method="post" class="contactForm" id="preferencesForm">
        <fieldset>
            <div *ngIf="showTitleError" class="bg-red-dark">
                <p class="center-text uppercase small-text color-white">Please Enter a Goal Title</p>
            </div>
            <div *ngIf="showTargetError" class="bg-red-dark" id="targetFieldError">
                <p class="center-text uppercase small-text color-white">Please Enter a Valid Target</p>
            </div>
            <div *ngIf="showCurrencyError" class="bg-red-dark" id="currencyFieldError">
                <p class="center-text uppercase small-text color-white">Please select a currency</p>
            </div>
            <div *ngIf="showDateError" class="bg-red-dark" id="targetDateError">
                <p class="center-text uppercase small-text color-white">Please select a target date</p>
            </div>
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Goal Title:<span>(required)</span></label>
                <input type="text" value="" class="contactField requiredField fieldHasError" name="title" [(ngModel)]="goalTitle">
            </div>
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Savings Target:<span>(required)</span></label>
                <input type="number" value="" class="contactField requiredField fieldHasError" name="target" [(ngModel)]="goalAmount">
            </div>
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Currency:<span>(required)</span></label>
                <select class="contactField requiredField fieldHasError" id="currency" name="currency" [(ngModel)]="goalCurrency" required #currency="ngModel">
                    <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
            </div>
            
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Target Date:<span>(required)</span></label>
                <input type="date" value="" class="contactField requiredField fieldHasError" [(ngModel)]="goalTargetDate" name="targetDate" />
            </div>
            <br/>

            <div class="formSubmitButtonErrorsWrap contactFormButton">
                <input type="submit" class="buttonWrap button bg-blue-dark button-sm button-rounded uppercase ultrabold contactSubmitButton" id="contactSubmitButton" value="Start Saving" data-formid="preferencesForm" (click)="onSubmit()">
            </div>
        </fieldset>
    </form>			
</div>