<div class="contact-form no-bottom input-form">
    <h1 class="uppercase ultrabold center-text">Preferences</h1>
    <p class="small-text center-text color-blue-dark half-bottom">Enter your savings goal information</p>
    <form action="#" method="post" class="contactForm" id="preferencesForm">
        <fieldset>
            <div class="formValidationError bg-red-dark" id="goalTitleFieldError" style="display: none;">
                <p class="center-text uppercase small-text color-white">Title is required!</p>
            </div>
            <div class="formValidationError bg-red-dark" id="targetFieldError" style="display: none;">
                <p class="center-text uppercase small-text color-white">Savings target is required!</p>
            </div>
            <div class="formValidationError bg-red-dark" id="currencyFieldError" style="display: none;">
                <p class="center-text uppercase small-text color-white">Currency is required!</p>
            </div>
            <div class="formValidationError bg-red-dark" id="targetDateError" style="display: none;">
                <p class="center-text uppercase small-text color-white">Target Date is required!</p>
            </div>
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Goal Title:<span>(required)</span></label>
                <input type="text" value="" class="contactField requiredField fieldHasError" name="title" [(ngModel)]="goalTitle">
            </div>
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Savings Target:<span>(required)</span></label>
                <input type="number" value="" class="contactField requiredField fieldHasError" name="target" [(ngModel)]="goalTarget">
            </div>
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Currency:<span>(required)</span></label>
                <select class="contactField requiredField fieldHasError" id="currency" name="currency" [(ngModel)]="goalCurrency" required #currency="ngModel">
                    <option *ngFor="let currency of currencies" [value]="currency">{{currency}}</option>
                </select>
            </div>
            
            <div class="formFieldWrap">
                <label class="field-title contactNameField">Target Date:<span>(required)</span></label>
                <input type="hidden" [(ngModel)]="goalTargetDate" class="form-control" id="targetDate" name="targetDate" required #targetDate="ngModel" />
                <p-calendar readonlyInput="true" appendTo="body" [(ngModel)]="goalTargetDate" [touchUI]="true" [minDate]="getMinTargetDate()" [showIcon]="true" name="calendar" [defaultDate]="getMinTargetDate()" [style]="{'width':'95%'}" [inputStyle]="{'width':'95%'}"></p-calendar>
            </div>
            <br/>

            <div class="formSubmitButtonErrorsWrap contactFormButton">
                <input type="submit" class="buttonWrap button bg-blue-dark button-sm button-rounded uppercase ultrabold contactSubmitButton" id="contactSubmitButton" value="Start Saving" data-formid="preferencesForm" (click)="onSubmit()">
            </div>
        </fieldset>
    </form>			
</div>